<template>
  <div class="about">
    <div class="container">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h4 class="modal-title" style="margin: 0 auto">
            Mas sobre nosotros
            <span style="color:crimson"><a href="https://gitlab.com/totaparis/umg-desarrollo-web-pf">UMG</a></span>
          </h4>
        </div>
        <div class="modal-body">
          <img
            src="https://scontent.fgua5-1.fna.fbcdn.net/v/t1.0-9/s960x960/48216435_2073381616018610_3418879905616625664_o.jpg?_nc_cat=107&_nc_eui2=AeFKL6G1dczhRIlyhADRKeUMwynr3Owpi6Hn_NduWkJ47BKcoyf0pmXW-ufgdvjAAdH2moTVEDDOuc-JhniUI5njj2Bv5EKai7CAFaW3uXq64Q&_nc_oc=AQkUzr9SAlszNPbkJDo4i8uCUgit9F9IUYrE0i1iMQg2dL2yrQFp9BJqyNUU4OpHQMHEGfgc-WMwjzoTw9kmJ622&_nc_ht=scontent.fgua5-1.fna&oh=9dc868bf46f3ce5c796106c45e51866b&oe=5E41845E"
            name="aboutme"
            width="60%"
            height="100%"
            border="0"
            class="avatar"
          >
          <h3 class="media-heading">Integrantes:</h3>     

            <span class="badge badge-primary p-2 m-1">Jordy Molina 090-16-12505</span>
            <span class="badge badge-primary p-2 m-1">Hubert Pérez 090-14-175</span>
            <span class="badge badge-primary p-2 m-1">Alejandro Cordoba 0901-16-5444</span>
            <span class="badge badge-primary p-2 m-1">Badni Jesua 5390-17-8798</span>
            <span class="badge badge-primary p-2 m-1">Rony Ventura 090-16-2078</span>
            <span class="badge badge-primary p-2 m-1">Rodrigo Fuentes 090-16-169</span>
          
          <!-- <hr> -->
          <!-- <p class="text-left">
            <strong>Bio:</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.
          </p>
          <br>-->
        </div>
        <!-- <div class="modal-footer" style="margin: 0 auto">
          <button type="button" class="btn btn-default" data-dismiss="modal">Read More</button>
        </div>-->
      </div>
    </div>
  </div>
</template>
<style>
.avatar {
  border-radius: 10px;
}
</style>
