<template>
  <div class="home-component">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <img alt="Logo" src="https://icon-library.net/images/logo-icon-png/logo-icon-png-11.jpg" width="100px">
          <h3 class="display-5 "><span style="color:#42b983">UMG - TransPort</span></h3>
          <p class="lead">Tienda Virtual</p>
        </div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Los Mejores Productos</li>
        <li class="ml-auto" aria-current="page"><router-link to="/products">Mostrar Todo</router-link></li>
      </ol>
      
    </nav>
    <BestProducts></BestProducts>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active " aria-current="page">Lo Más Vendido</li>
        <li class="ml-auto" aria-current="page"><router-link to="/products">Mostrar Todo</router-link></li>
      </ol>
    </nav>
    <TopProducts></TopProducts>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import BestProducts from "@/components/products/BestProducts.vue";
import TopProducts from "@/components/products/TopProducts.vue";
export default {
  name: "home",
  components: {
    HelloWorld,
    BestProducts,
    TopProducts
  }
};
</script>
<style>
.jumbotron {
  padding: 1rem 0rem;
}
</style>
