<template>
  <div class="best-products">
    <div class="row">
      <card-loader :loopCount="4" v-if="loading"/>
      <div class="col-md-3" v-for="(item, index) in bestProducts" :key="index">
        <card-template :item="item"/>
      </div>
    </div>
    <edit-product ref="editProduct"/>
  </div>
</template>

<script>
import axios from "axios";
import { errorToaster } from "../shared/service/ErrorHandler";
import CardLoader from "../shared/CardLoader";
import CardTemplate from "../shared/CardTemplate";
import EditProduct from "./actions/EditProduct";
export default {
  name: "BestProducts",
  components: { CardLoader, CardTemplate, EditProduct },
  data() {
    return {
      bestProducts: [],
      loading: false,
      dataP:[{
              "_id": "5bd44827429e8654fc8e5a4c",
              "productName": "Herramientas v1",
              "productPrice": "11,999.00",
              "productCategory": "Herramientas",
              "productImage": "https://d254m61ueq2zlm.cloudfront.net/media/catalog/product/cache/3/image/250x/9df78eab33525d08d6e5fb8d27136e95/9/9/995053.jpg",
              "productSeller": "Realme",
              "productRating": 4.9,
              "isBestProduct": true,
              "isTopProduct": true,
              "__v": 0,
              "productDescription": "Herramientas Descripcion"
          }, {
              "_id": "5bd4483c429e8654fc8e5a4d",
              "productName": "Herramientas v2",
              "productPrice": "14,999.00",
              "productCategory": "Herramientas",
              "productImage": "https://d254m61ueq2zlm.cloudfront.net/media/catalog/product/cache/3/image/250x/9df78eab33525d08d6e5fb8d27136e95/9/8/989532.jpg",
              "productSeller": "Mi",
              "productRating": 3.2,
              "isBestProduct": false,
              "isTopProduct": true,
              "__v": 0,
              "productDescription": "Herramientas Descripcion"
          }]
    };
  },
  methods: {
    //manadatory function called from cardTemplate
    editProduct(product) {
      this.$refs.editProduct.setProduct(product);
    },

    getBestProducts() {
      this.loading = true;
      axios
        //.get(`${process.env.VUE_APP_BASE_URL}/best/products`)
        .get("https://umgweb.000webhostapp.com/api/ruta.php?api=3")
        .then(response => {
          this.loading = false;
          this.bestProducts = response.data;
          //this.bestProducts = this.dataP;
        })
        .catch(error => {
          console.log(error);
          errorToaster(
            "The server encountered an unexpected condition.",
            "Internal Error 500"
          );
        });
    }
  },
  created() {
    this.getBestProducts();
  }
};
</script>

<style>
.best-products {
  margin-bottom: 10px;
}
</style>
